<!-- Modal -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalCenter" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="emailModalCenter">Modification de l'email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form -->
              <form id="modify-form" method="POST">
                  <!-- Input fields -->
                  <div class="form-group">
                      <label for="email"></label>
                      <input type="email" name="email" id="email" class="form-control " placeholder="Nouveau email" required>
                  </div>

                  {% csrf_token %}

                  <button type="submit" class="btn btn-primary btn-customized">Enregistrer</button>
                  <!-- End input fields -->
              </form>
        <!-- Form end -->
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>