{% extends 'base.html' %}

{% block body %}
  <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
          <div class="col-10 col-md-8 col-lg-6">
            <h1>Bienvenue {{ username }}</h1>

            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Champ</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="email">{{ email }}</td>
                        <td><button id="email-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#emailModal">Modifier l'email</button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><a href="/logout">Déconnexion</a></td>
                    </tr>
                </tbody>
            </table>
            
            {% include 'modal.html' %}

          </div>
      </div>
  </div>

{% endblock body %}
